.text {
  border-radius: 150px;
  position: absolute;
  background: var(--white);
  transform: rotate(12.666deg) translateX(-100%) translateY(100%);
  padding: 12px 16px;
  color: var(--black);
  font-size: 22px;
  line-height: 22px;
}
