.input_text {
  border-radius: 16px;
  color: var(--main-color);
  border: 1px solid #c1c0c6;
  padding: 15px 16px;
  height: 48px;
  font-family: Comfortaa;
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: 18px;
  background-color: transparent;

  &::placeholder {
    color: currentColor;
  }
}
