.form {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.title {
  font-size: 20px;
  line-height: 24px;
  margin-bottom: 8px;
}

.controls {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.note {
  font-size: 10px;
  line-height: 14px;
  letter-spacing: 0.2px;
  color: var(--main-color-60);
  a {
    text-decoration: underline;
  }
}
